template(name='admin')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.header 
                +i name='shield'
                |admin
        .eight.wide.column
            .ui.header
                +i name='stall'
                |foh
            unless admin_settings.foh_calling
                .ui.massive.button.call_help
                    +i name='alert'
                    |call help
            else 
                .ui.massive.button.end_call
                    +i name='cancel'
                    |end call
                
        .eight.wide.column
            .ui.header 
                +i name='scan-stock'
                |boh
            if admin_settings.foh_calling
                .ui.fluid.red.message
                    img(src="/bell.gif")
                    .header 
                        |foh help requested
            