template(name='contact')
    .ui.centered.grid
        .center.aligned.ten.wide.column
            .ui.header 
                i.phone.icon
                |contact
            .ui.massive.fluid.input
                input.contact(type='text')
            .ui.header 
                i.shield.icon
                |admin