template(name='donate')
    .ui.stackable.padded.grid
        .centered.row
            .twelve.wide.column
                .ui.inline.header 
                    +i name='donate'
                    |donate
                .ui.action.input
                    input.donate_amount(type='number' min='1' placeholder='amount')
                    .ui.icon.button.start_donation   
                        i.right.chevron.icon
                each donations
                    .ui.header 
                        strong $#{amount}
                        small #{when}:
                        | #{message}
