template(name='home')
    .ui.stackable.padded.centered.grid
        .one.column.row
            .center.aligned.column
                .ui.big.header.f20 WE DELIVER LOCAL, ORGANIC GROCERIES, MEALS AND HOUSEHOLD PRODUCTS IN ZERO-WASTE, REUSABLE CONTAINERS TO YOUR DOOR BY BICYCLE

        .four.column.row
            .center.aligned.column
                a.ui.icon.header(href="/shop")
                    +i name='shopping-cart' cl='icon zoomer'
                    // i.food.icon
                    |shop
            .center.aligned.column
                a.ui.icon.header(href="/users") 
                    // i.users.icon
                    +i name='conference' cl='icon zoomer'
                    |users
            .center.aligned.column
                a.ui.icon.header(href="/staff")
                    // i.shield.icon
                    +i name='employee-card' cl='icon zoomer'
                    |staff
            // .center.aligned.column
            //     a.ui.icon.header(href="/staff")
            //         // i.shield.icon
            //         +i name='employee-card' cl='icon zoomer'
            //         |staff
            .center.aligned.column
                a.ui.icon.header(href="/shop")
                    +i name='sell' cl='icon zoomer'
                    // i.food.icon
                    |become a seller
            .center.aligned.column
                a.ui.icon.header(href="/orders")
                    +i name='bill' cl='icon zoomer'
                    // i.list.icon
                    |orders
            .center.aligned.column
                a.ui.icon.header(href="/inbox")
                    +i name='inbox' cl='icon zoomer'
                    // i.mail.icon
                    |inbox
        .one.column.row
            .column
                .ui.header 
                    i.shield.icon
                    |admin
                a.ui.big.basic.disabled.button(href="/inventory")
                    +i name='list' cl='ui inline image'
                    |inventory
                a.ui.big.basic.disabled.button(href="/bikers")
                    +i name='cycling-road' cl='ui inline image'
                    |bikers
                a.ui.big.basic.disabled.button(href="/trips")
                    +i name='time-machine' cl='ui inline image'
                    |trips
        .one.column.row
            .column
                .ui.header footer
                .ui.list
                    .item CONTACT US
                    .item hello@nudefoodsmarket.com
                    .item 555 30th Street
                    .item Boulder, CO 80303
                    .item (720) 815-5588
