template(name='home')
    .ui.stackable.padded.centered.grid
        .four.column.row
            .center.aligned.column
                a.ui.icon.header(href="/users") 
                    i.users.icon
                    |users
            .center.aligned.column
                a.ui.icon.header(href="/staff")
                    i.shield.icon
                    |staff
            .center.aligned.column
                a.ui.icon.header(href="/dishes")
                    i.food.icon
                    |menu
            .center.aligned.column
                a.ui.icon.header(href="/orders")
                    i.list.icon
                    |orders
            .center.aligned.column
                a.ui.icon.header(href="/inbox")
                    i.mail.icon
                    |inbox
            .center.aligned.column
                a.ui.icon.header(href="/m/ingredient")
                    i.food.icon
                    |ingredients
                    