template(name='media')
    +page slug='media'
    
    
template(name='team')
    +page slug='team'
    

template(name='page')
    .ui.padded.stackable.grid
        .centered.row
            .fourteen.wide.column
                with page_doc
                    if is_admin
                        a.ui.button(href="/m/page/#{_id}/edit")
                            i.shield.icon
                            |edit page
                    if show_title
                        .ui.center.aligned.header #{title}
                    +html_view key='content'
                    +comments
                    //- .ui.fluid.accordion 
                    //-     .title 
                    //-         .ui.header 
                    //-             |analysis 
                    //-             i.grey.dropdown.icon
                    //-     .content 
                    //-         if tags 
                    //-             .ui.small.header 
                    //-                 +i name='tags'
                    //-                 |tags
                    //-             each tags 
                    //-                 .ui.basic.label #{this}
                    //- 
                    //-         if watson 
                    //-             +watson_view
        unless page_doc
            if is_admin
                .ui.button.create_page
                    i.plus.icon
                    |create page
    +footer

template(name='produce')
    .ui.container
        .ui.header 
            +ibig name='food'
            |produce
        div Nude Foods Market has a hierarchy for sourcing produce. 
        +i name='marker'
        div First and foremost we try to get local rescued produce. Rescued means that food was destined for the compost pile, had we not caught it in time. 
        div 
        +i name='food-cart'
        div It can also be seconds, which means produce that  was not going to be sold at the local farmers market. This is the cucumber or potato that looks a little odd (tastes just as good!) and is not up to the normal grocery store/farmers market visual standards. 
        div 
        div Rescued produce can also come from oversupply. Sometimes farmers have too much of a certain crop that they can’t sell through their normal channels. Not only does this help the food not go to waste, it helps the farmers out by paying for produce that normally wouldn’t have a home.
        div 
        +i name='shopping-cart'
        div If we cannot acquire rescued produce we will buy the standard produce from farms. Not all of our local produce is certified organic, but all of the farms we source from follow organic practices. It is incredibly expensive for small farms to get certified, and we don’t want to exclude farms that are doing everything right just because they couldn’t afford the certification. 
        div 
        div Remember buying local means you are not contributing to one of our biggest enemies, factory farming. 
        +i name='field-and-tractor'
        div Next on the hierarchy is rescued, not local produce. We only have to go to this step in the winter, when there isn’t much produce being grown in Colorado. This produce will always be certified organic.To acquire this, soon to be wasted food, we use a company which specializes in rescued food, Food Maven. 
        div 
        div They alone in 2019 have helped save 327 tons of food from landfills, donated 354,361 meals to hunger relief, averted 226 tons of CO2 and generated $281,925 for local producers. 
        div 
        div The very last step in the hierarchy is non-rescued, non-local produce. We almost never get to this point, but if there isn’t enough rescued produce or local produce to be found, we will supplement with a few certified organic products.
    

template(name='packaging')
    .ui.text.container
        .ui.big.header 
            +i name='package' 
            |Packaging
        .ui.grey.header Please note most of the stuff we receive in packaging are from food suppliers, for example almonds and dried mangos, which we cannot source from Colorado. Food needs to come in some type of container. 
        
        .ui.grey.header With the small buying power we have, we don’t have the ability to strong arm all food suppliers into using our reusable containers, but one day we will. Below is a list of  some of the ways in which we receive our food. Luckily we have the ability to buy in bulk and the packaging we receive is always better than small serving packaging from the store. If you have questions about the packaging for any item we are selling please email us at hello@nudefoodsmarket.com and we can provide that info.
        .ui.grey.header 
        .ui.grey.header Large paper bags with string ties (we recycle the bags and collect the string to use for things like our Holiday Cookie Jars)
        .ui.grey.header Cardboard boxes (we reuse or recycle these)
        .ui.grey.header Bulk plastic bags (we collect these and take to Eco-Cycle where they can be recycled)
        .ui.grey.header Large plastic jugs or barrels (we reuse / recycle these)
        .ui.grey.header Plastic buckets (we reuse / recycle these)
    +footer