template(name='media')
    +page slug='media'
    
    
template(name='team')
    +page slug='team'
    

template(name='page')
    .ui.padded.stackable.grid
        .centered.row
            .fourteen.wide.column
                with page_doc
                    if is_admin
                        a.ui.button(href="/m/page/#{_id}/edit")
                            i.shield.icon
                            |edit page
                    if show_title
                        .ui.center.aligned.header #{title}
                    +html_view key='content'
                    //- .ui.fluid.accordion 
                    //-     .title 
                    //-         .ui.header 
                    //-             |analysis 
                    //-             i.grey.dropdown.icon
                    //-     .content 
                    //-         if tags 
                    //-             .ui.small.header 
                    //-                 +i name='tags'
                    //-                 |tags
                    //-             each tags 
                    //-                 .ui.basic.label #{this}
                    //- 
                    //-         if watson 
                    //-             +watson_view
        unless page_doc
            if is_admin
                .ui.button.create_page
                    i.plus.icon
                    |create page
