template(name='user_credit')
    .ui.stackable.one.column.padded.grid
        if is_current_user
            .column
            .column
                .ui.inline.header
                    i.money.icon
                    |{{fixed user_from_username_param.credit}}
                    |credit
                .ui.inline.header 
                    i.shield.icon
                    |admin
                .ui.big.icon.basic.button.add_credit(title='add credit')
                    |+1
                +number_edit key='credit' label='edit credit' min='0' step='.01' max='1000' direct=true
                .ui.big.icon.basic.button.remove_credit(title='remove credit')
                    |-1
                +topup_button amount=10
                +topup_button amount=20
                +topup_button amount=100
                // |includes 2% credit card processing fee
                .ui.action.input
                    input.deposit_amount(type='number' min='1' placeholder='deposit')
                    .ui.icon.button.add_credits   
                        i.right.chevron.icon
                        
                .ui.large.bulleted.list.scrolling
                    each topups
                        .item 
                            .content
                                .header 
                                    |$#{amount}
                                .description #{when} {{long_date _timestamp}}
                                //- if is_dev
                                +remove_button